
<p>First Name: <%= @contact.first_name %></p>
<p>Last Name: <%= @contact.last_name %></p>
<p>Email: <%= @contact.email %></p>
<p>Phone Number: <%= @contact.phone_number %></p>




<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Options
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <li><a href="/contacts/<%= @contact.id %>/edit">Edit this contact</a></li>
    <li><a href="#">I</a></li>
    <li><a href="#">Don't</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Work.</a></li>
  </ul>
</div>